.current {
  color: green;
}

nav {
  padding: 25px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  font-size: 21px;
  justify-content: flex-end;
  background: white;
}

nav > a {
  padding-right: 25px;
}

.authorName {
    padding-right: 859px;
    font-size: 21px;
    font-style: italic;
    font-weight: bolder;
}